<div id="home-intro-pattern">
	<div id="ahome-intro-wrapper">
    <div id="home-intro">
        <div id="box-contato">

	      <div id="respond" >
		      <h2>Envie sua mensagem</h2>

		      <br>
		      <%= form_tag({:controller=>"cerimonial", :action=>"send_email"}, :method => "get")  do %>
            <table>
            <tr>
              <th><%= label_tag :Nome %></th>
              <td><%= text_field_tag :nome  %></td>
            </tr>
            <tr>
              <th><%= label_tag :Email %></th>
              <td><%= text_field_tag :email %></td>
            </tr>
            <tr>
              <th><%= label_tag :Telefone %></th>
              <td><%= text_field_tag :telefone %></td>
            </tr>

            <tr>
              <th><%= label_tag :Assunto %></th>
              <td><%= text_field_tag :assunto %></td>
            </tr>
            <tr>
              <th><%= label_tag :Mensagem %></th>
              <td><%= text_area_tag :mensagem, nil, :rows => 10, :cols => 40  %></td>
            </tr>

            <tr>
              <td></td>
              <td><%= submit_tag "Enviar", :disable_with => "aguarde..." %><div id="mensagem_contato"><%=@mensagem_sucesso unless @mensagem_sucesso.blank?%></div></td>
            </tr>
            </table>
            <% end %>

	          </div>
          </div>

	        <div id="box-contato-informacoes">
			            <h3>Informações</h3>
			            <p>
			            Endereço: Rua Santa Rita de Cassia, 415 - Bairro de Lourdes
                  </p><br>
                  <p>
			            Telefone: (027) 3322-7707
                  </p><br>
                                    <p>
			            Email: <a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br">contato@esplendidocerimonial.com.br</a>
                  </p><br>
	         </div>


		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

