<table class="csstable_contato">
  <tr>
  <td align="right">
    <div id="informacoes-contato">
    <br>
    <h3>Contato</h3>
    <br>

    Esplêndido Cerimonial<br>
    Rua Santa Rita de Cassia, 415<br>
    Bairro de Lourdes - Vitória - ES<br>
    CEP 29042-753<br><br>



    Telefone: (027) 3322-7707<br><br>
    Email: <a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br">contato@esplendidocerimonial.com.br</a>
    <br><br>

    Horário de funcionamento:<br>
    Segunda a sexta-feira das 9 às 20 horas<br>
    Sábado: das 9 às 13 horas<br>

    </div>
  </td>
  <td align="left">
    <div id="formulario-contato">
    <br>
  <h3>Envie sua mensagem</h3>
  <br>
  <%= form_tag({:controller=>"cerimonial", :action=>"send_email"}, :metdod => "get") do %>
  <table>
    <tr>
      <td>Nome:</td>
      <td><%= text_field_tag :nome, nil,:size => 40 %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= text_field_tag :email, nil,:size => 40 %></td>
    </tr>
    <tr>
      <td>Telefone:</td>
      <td><%= text_field_tag :telefone, nil,:size => 40 %></td>
    </tr>
    <tr>
      <td>Assunto:</td>
      <td><%= text_field_tag :assunto, nil,:size => 40 %></td>
    </tr>
    <tr>
      <td>Mensagem:</td>
      <td><%= text_area_tag :mensagem, nil, :rows => 10, :cols => 40 %></td>
    </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Enviar", :disable_witd => "aguarde..." %></td>
  </tr>
  </table>
  <% end %>
  <br>
  <div id="mensagem_contato"><%=@mensagem_sucesso unless @mensagem_sucesso.blank?%></div>
  </div>
  </td>
  </tr>
</table>

