<!DOCTYPE html>
<html>
<head>
  <title>Esplêndido Cerimonial</title>
  <%= stylesheet_link_tag :all %>
  <link href="../stylesheets/booklet/jquery.booklet.1.1.0.css" type="text/css" rel="stylesheet" media="screen" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="screen"/>

  <%= csrf_meta_tag %>

  <%= javascript_include_tag :all %>
  <%= javascript_include_tag "default.js" %>
  <%= javascript_include_tag "ga.js" %>
  <%= javascript_include_tag "home.js" %>
  <%= javascript_include_tag "jquery.ui.js" %>
  <%= javascript_include_tag "jquery-latest.min.js" %>
  <%= javascript_include_tag "slides.min.jquery.js" %>
  <%= javascript_include_tag "swfobject.js" %>
  <%= javascript_include_tag "twitter.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.booklet.1.1.0.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.booklet.1.1.0.min.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.easing.1.3.js" %>

	<script type="text/javascript">
			Cufon.replace('h1,p,.b-counter');
			Cufon.replace('.book_wrapper a', {hover:true});
			Cufon.replace('.title', {textShadow: '1px 1px #C59471', fontFamily:'ChunkFive'});
			Cufon.replace('.reference a', {textShadow: '1px 1px #C59471', fontFamily:'ChunkFive'});
			Cufon.replace('.loading', {textShadow: '1px 1px #000', fontFamily:'ChunkFive'});
	</script>

</head>
<body class="home">
<div id="top-container">
	<div id="header-wrapper">
		<div id="header">
   		<%= link_to image_tag("../images/Logo(1).png", :border=>0),{ :controller=> "cerimonial", :action => 'index'} %>
		</div>
	</div>
	<div id="menu-wrapper">
		<div id="menu">
			<div id="menu-raadhuis-menu" class="menu">
   			<%= link_to  "Principal", {:controller=>"cerimonial", :action=>"index" } %>
   			<%= link_to  "Espaço", {:controller=>"cerimonial", :action=>"espaco" } %>
   			<%= link_to  "Galeria de Fotos", {:controller=>"cerimonial", :action=>"fotos" } %>
   			<%= link_to  "Serviços", {:controller=>"cerimonial", :action=>"servicos" } %>
   			<%= link_to  "Imprensa", {:controller=>"cerimonial", :action=>"imprensa" } %>
   			<%= link_to  "Decoração", {:controller=>"cerimonial", :action=>"decoracao" } %>
   			<%= link_to  "Localização", {:controller=>"cerimonial", :action=>"localizacao" } %>
   			<%= link_to  "Contato", {:controller=>"cerimonial", :action=>"contato" } %>
			</div>
		</div>
	</div>
</div>
<%= yield %>
<div id="footer-wrapper">
	<div id="rodape">Endereço: Rua Santa Rita de Cassia, 415 - Bairro de Lourdes, Telefone: (027) 3322-7707,
	<a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br">contato@esplendidocerimonial.com.br</a>
</div>
</div>
<div id="fb-root"></div>
<br>
</body>
</html>

