<html>
<head>
  <title>Esplêndido Cerimonial</title>

  <link href="../stylesheets/booklet/jquery.booklet.1.1.0.css" type="text/css" rel="stylesheet" media="screen" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="../stylesheets/index.css" type="text/css" media="screen"/>


  <%= csrf_meta_tag %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag "../javascripts/booklet/jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.booklet.1.1.0.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.booklet.1.1.0.min.js" %>
  <%= javascript_include_tag "../javascripts/booklet/jquery.easing.1.3.js" %>

</head>
<body>
  	<div id="topo">
      <%= link_to image_tag("../images/Logo.png", :border=>0),{ :controller=> "cerimonial", :action => 'index'} %>
		</div>
	  <div id="menu">
	  <br>
     			<%= link_to  "Esplêndido", {:controller=>"cerimonial", :action=>"index" }, :class=>"class_link_menu" %>
     			<%= link_to  "Galeria de Fotos", {:controller=>"cerimonial", :action=>"fotos" },:class=>"class_link_menu" %>
     			<%= link_to  "Serviços", {:controller=>"cerimonial", :action=>"servicos" },:class=>"class_link_menu" %>
     			<%= link_to  "Localização", {:controller=>"cerimonial", :action=>"localizacao" },:class=>"class_link_menu" %>
     			<%= link_to  "Contato", {:controller=>"cerimonial", :action=>"contato" },:class=>"class_link_menu" %>
    </div>
  <%= yield %>
  <div id="rodape"><br>
    Endereço: Rua Santa Rita de Cassia, 415, B. de Lourdes - Vitória - ES - CEP: 29042-753 - Tel.: (27) 3322-7707 -
    <a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br" class="classlink">contato@esplendidocerimonial.com.br</a>

  </div>
</body>
</html>

